

.who_we_are_container{
    padding:40px;
  }
 
  .carousel{
    display:flex;
    max-width:92vw;
    gap:20px;
    padding:10px 0px;
    justify-content: center;
   
  }
 
  .carousel_img{
    width:240px;
    height:240px;
    border-radius:20px;
  }
 
  .section1{
    padding:20px;
  }
 
  .section1_img{
    width:145.14px;
    height:145.14px;
    border-radius: 15px;
  }
 
  .section1_hr{
    margin-top: 40px;
 
  }
 
  .work_with_us{
    padding:174px 200px;
  }

