.servicesContent {
    display: grid;
    grid-template-areas: 'sechead sechead servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1 servmod1'
                         'sechead sechead servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2 servmod2'
                         'sechead sechead servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3 servmod3';
    padding-top: 20px;
}

.sectionHeader {
    grid-area: sechead;
    text-align: start;
}

.module1 {
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content: space-between;
    grid-area: servmod1;
}

.module2 {
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content: space-between;
    grid-area: servmod2;
}

.module3 {
    display: flex;
    text-align: start;
    padding: 30px 0px;
    justify-content: space-between;
    grid-area: servmod3;
}

@media screen and (max-width: 799px) {
    .module1,
    .module2,
    .module3 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .servicesContent {
        grid-template-areas: 'sechead'
                             'servmod1'
                             'servmod2'
                             'servmod3';
    }
}

@media screen and (min-width: 800px) and (max-width: 1199px) {
    /* Add styles for medium screens if needed */
}